<!-- Header do site (apresentação) -->
<header class="masthead">
    <div class="container">
        <div class="">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-principal" src="./assets/img/livro-7-passos.jpeg">
                    <hr>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="#mais" class="btn btn-round btn-info btn-fill">Quero saber mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center">Ansiedade</h1>
                    <h2 class="">
                        <p>é considerada um sentimento e 100% dos seres humanos tem. Entretanto algumas situações do dia a dia, como: compromissos, cuidar da família, filhos, trabalho entre outros problemas diários, acabam levando a desenvolver picos maiores de ansiedade.
                            Quando esses picos estão elevados é um sinal que seu corpo está enviando e que precisa de atenção naquele momento. Quando não dada a devida atenção começam a aparecer os sintomas físicos, e até mesmo comportamentais, afetando as pessoas a sua volta.</p>
                        <p>Por isso este e-book foi criado e desenvolvido com o único objetivo de te ensinar a controlar essa ansiedade e não deixar que ela chegue ao seu pico máximo. Nele você vai encontrar dicas, técnicas e exercícios exclusivos que vão ajudar nesse processo e a melhorar sua qualidade de vida, te dando a oportunidade de viver momentos bons sozinho (a) ou com pessoas que ama.
                            Ao desenvolver todos os exercícios você será capaz de elevar seu autoconhecimento e passará a ter uma visão mais ampla sobre as situações e traumas vivenciados na sua vida.</p>
                        <p>Esse material foi baseado em experiências reais e casos de sucesso, todas as técnicas apresentadas foram testadas ao longo do meu trabalho com a clínica e são de grande eficácia quando há dedicação na sua realização.</p>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Um pouco mais sobre o livro -->
<section id="mais" class="about-section text-center div-direita">
    <div class="container ">
        <div class="text-center">
            <h1 class="text-center h1-mais">
                Sobre o livro
            </h1>
            <div class="row">
                <div class="col-md-6 text-left">
                    <h2 class="h2-mais">
                        <p>Esse é o momento para você ser livre, e entender que possui um mundo de possibilidades a sua frente para escolher o melhor para você.</p>
                        <p>Não deixe mais a ansiedade te atrapalhar a ter momentos bons na sua vida, ou perder oportunidades únicas.</p>
                        <p>Esse e-book vai te ajudar a ter uma visão diferenciada da vida, além de te proporcionar uma melhora na sua qualidade de vida.</p>
                    </h2>
                </div>
                <div class="col-md-6">
                    <img class="img-secundaria" src="./assets/img/3in1.png">
                    <a href="https://pay.hotmart.com/A30505185A" target="_blank" class="btn btn-lg btn-round btn-primary btn-fill">Quero comprar!</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sobre mim -->
<section id="sobreMim" class="sobre-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <iframe width="460" height="300" src="https://www.youtube.com/embed/IhrePWE_8ZU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--                <img class="img-tercearia" src="./assets/img/helena-nicolete.jpeg">-->
            </div>
            <div class="col-md-7">
                <h1 class="h1-sobre text-uppercase">
                    Um pouco sobre mim
                </h1>
                <p>Psicóloga formada pela faculdade Uniceub em Brasília, no ano de 2014, recentemente fiz um curso de formação em Análise corporal pelo <b>O corpo explica</b>. Trabalho com atendimentos na clínica há 4 anos utilizando a abordagem Terapia Cognitivo comportamental. Estou iniciando um curso sobre Constelação familiar, e recentemente participei de um evento “A Lógica da vida”. A maioria dos cases que atendi na clínica foram ansiedade, síndrome do pânico e depressão.</p>

                <p>Hoje realizo atendimentos de psicoterapia 100% on-line através de vídeo chamada conforme regulamentação do CFP nº 11/2016. Meu objetivo como psicóloga é te possibilitar o autoconhecimento e te tornar livre para ser o que você precisa ser.</p>
            </div>
        </div>
    </div>
</section>
<!-- Objetivos do meu trabalho -->
<section id="objetivos" class="about-section text-center div-esquerda">
    <div class="container">
        <div class="text-center">
            <h1 class="text-center h1-mais">
                Objetivos
            </h1>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group">
                        <h2 class="h2-pontos">
                            <li class="text-left" *ngFor="let item of tabelaPontosPsi">
                                {{item.sobreMim}}
                            </li>
                        </h2>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img class="img-quartearia" src="./assets/img/helena-nicolete2.jpeg">
                </div>
                <div class="col-md-3">
                    <ul class="list-group">
                        <h2 class="h2-pontos">
                            <li class="text-left" *ngFor="let item of tabelaPontosPsi2">
                                {{item.sobreMim}}
                            </li>
                        </h2>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Perguntas frequentes e contatos -->
<section id="peguntasContatos" class="sobre-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <h1 class="h1-contato text-uppercase">
                    Perguntas frequentes
                </h1>
            </div>
            <div class="col-md-6">
                <h1 class="h1-contato text-uppercase">
                    Para mais informações
                </h1>
                <h2 class="h2-contato">
                    Contatos
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h2 class="h2-contato">
                                Como eu controlo minha ansiedade?
                            </h2>
                            <h3 class="h3-contato">
                                Há várias maneiras de controlar sua ansiedade, mas a principal delas é através do autoconhecimento, buscando entender e ressignificar traumas e sentimentos passados. A terapia é sua grande chave nesse processo e é ela que te traz a compreensão e a clareza para sua mente. Quando passa a entender melhor sobre si e seus traumas já começa o primeiro passo para esse controle. Não deixe de procurar a terapia.
                            </h3>
                        </li>
                        <li class="list-group-item">
                            <h2 class="h2-contato">
                                Acontecimentos do passado, podem influenciar no meu comportamento de hoje?
                            </h2>
                            <h3 class="h3-contato">
                                Sim, pode ter grandes influencias. O seu comportamento de hoje foi criado através d mecanismos de defesas que você desenvolveu ao longo da vida tentando fugir da dor, nessa fuga é possível criar mecanismos que nos causa mais dor, ou que nos limitam nas nossas atitudes e vontades.
                            </h3>
                        </li>
                        <li class="list-group-item">
                            <h2 class="h2-contato">
                                Como funciona o atendimento online?
                            </h2>
                            <h3 class="h3-contato">
                                O atendimento online, nada difere do presencial. São realizados através de vídeo chamada, com todo sigilo profissional sem interferência e acesso de nenhuma outra pessoa.
                            </h3>
                        </li>
                        <li class="list-group-item">
                            <h2 class="h2-contato">
                                Posso fazer a terapia online por mensagem de texto?
                            </h2>
                            <h3 class="h3-contato">
                                Não, a minha técnica de trabalho não permite terapia por mensagens de texto ou áudio, é necessário criar um vínculo terapêutico com o paciente, e por mensagens de texto e áudios esse vínculo não pode ser criado.
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content table-responsive table-full-width">
                    <table class="table">
                        <tbody>
                        <tr class="">
                            <td class="text-center col-md-7 td">
                                <a href="https://www.facebook.com/helenanicoletepsi" target="_blank" title="Helena Nicolete Psicóloga" class="fa fa-facebook"></a>
                            </td>
                            <td class="td">
                                <i class="fa fa-envelope"></i>
                                <a href="mailto: helenanicolete@gmail.com">
                                    &nbsp;helenanicolete@gmail.com
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center td">
                                <a href="https://www.instagram.com/helenanicolete/?hl=pt-br" target="_blank" title="Helena Nicolete" class="fa fa-instagram"></a>
                            </td>
                            <td class="td">
                                <i class="fa fa-phone"></i>
                                &nbsp;(12) 98308-5133
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center td">
                                <a href="https://www.linkedin.com/in/helena-nicolete-bb770659/" target="_blank" title="Helena Nicolete" class="fa fa-linkedin"></a>
                            </td>
                            <td class="td">
                                <a target="_blank" href="https://api.whatsapp.com/send?phone=5512983085133&text=Ol%C3%A1!%20Vim%20atrav%C3%A9s%20do%20seu%20site." class="fa fa-whatsapp"></a>
                                &nbsp;<a target="_blank" href="https://api.whatsapp.com/send?phone=5512983085133&text=Ol%C3%A1!%20Vim%20atrav%C3%A9s%20do%20seu%20site.">(12) 98308-5133</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center td">
                                <a href="https://www.youtube.com/channel/UCMnts64tZaUnr-unaUHj7Zg" target="_blank" title="Helena Nicolete" class="fa fa-youtube"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contatos do desenvolvedor -->
<section id="direitos" class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-ms-12">
                <div class="text-left">
                    <a href="https://pay.hotmart.com/A30505185A" target="_blank" class="btn btn-sm btn-round btn-danger btn-fill">Comprar livro</a>
                </div>
                <p class="text-right" style="color: #fff">
                    Todos os direitos reservados:
                    <a style="color: blue" href="mailto: edunicol@gmail.com">
                        Eduardo Nicolete
                    </a>&nbsp;-&nbsp;
                    <a href="https://www.linkedin.com/in/eduardo-nicolete-a937a7b5/" target="_blank" class="">
                        <i class="fa2 fa-linkedin"></i>
                    </a>&nbsp;
                    <a href="https://www.facebook.com/eduardo.nicolete" target="_blank" class="">
                        <i class="fa2 fa-facebook"></i>
                    </a>&nbsp;
                    <a href="https://www.instagram.com/edunicolete/?hl=pt-br" target="_blank" class="">
                        <i class="fa2 fa-instagram"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

